.cta{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid azure;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    cursor: pointer;
    transition: all ease 0.3s;
}
.cta:hover{
    background-color: #f1ffd6;
    color: black;
    border: 2px solid #f1ffd6;
    box-shadow: 0 0 80px #f1ffd6,0 0 40px #f1ffd6, 0 0 80px #f1ffd6;
}
#hero{
    background-image: url("../imgs/home-background.jpg");
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: -1;
}
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
.hero h1{
    display: block;
    color: rgba(250,251,255,0.81);
    width: fit-content;
    font-size: 4rem;
    position: relative;
}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: coral;
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
}
#hero h1:nth-child(1) span{
    animation-delay: .5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}
.spin{
    display: flex;
    justify-content: center;
}
.all-cocktails-title{
    font-size: 3rem;
    font-weight: 300;
    color:  var(--brand-links-darkgreen);
    margin: 50px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
.all-cocktails-title span{
    color: var(--hover-darkyellow);
}
@media only screen and (max-device-width: 480px){
    .hero h1{
        font-size: 1.7rem;
    }
    .cta{
        font-size: 1.6rem;
    }
}
@media only screen and (max-device-width: 480px) and (min-device-height: 600px){
    .hero h1{
        font-size: 2.4rem;
    }
    .cta{
        font-size: 1.6rem;
    }
}
@media only screen and (min-device-width: 700px) and (max-device-width:1100px){
    .hero h1{
        font-size: 3.4rem;
    }
    .cta{
        font-size: 1.6rem;
    }
}
@media only screen and (min-device-width: 2000px){
    #hero .hero{
        max-width: 1700px;
    }
    .hero h1{
        font-size: 7rem;
    }
    .cta{
        font-size: 4rem;
        margin-top: 90px;
        padding: 30px 50px;
    }
    .all-cocktails-title{
        font-size: 7rem;
    }
}
