:root {
    --border-radius: 5px;
}
.search{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
}
.search p{
    letter-spacing: .3rem;
    font-size: 2.2rem;
    display: block;
    width: 80%;
    position: relative;
    top: 0;
    margin: 60px;
}
.service-bottom{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.card-ingredients{
    width: 350px;
    height: 400px;
    margin: 20px;
}
.wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--brand-links-darkgreen);
    height: 400px;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px #333333;
}
.logo h1{
    font-weight: lighter;
    font-size: 2.6rem;
    margin: 10px;
    color: white;
}
.input{
    width: 100%;
    height: 50px;
    border-radius: var(--border-radius);
    border: none;
    box-shadow: 0 2px 4px #333333;
    color: inherit;
    padding: 0 25px 0 45px;
    transition: width .3s;
}
.search-icon{
    color: #333333;
    position: relative;
    left: 32px;
    font-size: 1.5rem;
    opacity: .7;
}
.search-group{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.input-group{
    width: 90%;
    height: 100%;
}
.ingredient-list{
    height: 100%;
    background-color: white;
    margin-top: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px #333333;
    width: 100%;
    overflow-y: scroll;
    max-height: 220px;
    transition: max-height .3s;
}
.input:focus + .ingredient-list{
    max-height: 150px;
    width: 100%;
    overflow-y: scroll;
}
.ingredient{
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 10px;
    padding: 0 15px;
    cursor: pointer;
    transition: opacity .3s;
}
.ingredient:hover{
    opacity: .7;
}
.img-ingredient{
    width: 35px;
    margin: 15px;
}
.spin{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-button{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    color: var(--lightgreen);
    background-color: transparent;
    border: 2px solid var(--lightgreen);
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    cursor: pointer;
    border-radius: var(--border-radius);
    transition: all .5s;
}
.search-button:hover{
    color: black;
    background-color: var(--lightyellow);
    border: 2px solid var(--lightyellow);
    box-shadow: 0 0 10px darkgrey, 0 0 10px darkgrey, 0 0 10px darkgrey;
}
.selected{
    width: 90%;
    height: 100%;
}
.delete-ingredient:hover{
    background: radial-gradient(circle, rgba(207,37,15,1) 0%, rgba(255,255,255,1) 100%);
    opacity: 1;
}
.ingredient h3::first-letter{
    text-transform: uppercase;
}
.nothing-found{
    display: flex;
    align-items: center;
    justify-content: center;
}
.not-active{
    display: none;
}
.active{
    display: block;
}
@media only screen and (max-device-width: 480px){
    .search p{
        font-size: 1.8rem;
        top: 20px;
    }
}
@media only screen and (max-width: 900px){
    .service-bottom{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 33% auto 33%;
        justify-items: center;
    }
    .arrow-icon{
        transform: rotate(90deg);
    }
    #found{
        position: relative;
        top: 750px;
    }
    .search p{
        font-size: 1.8rem;
        top: 20px;
    }
}
@media only screen and (min-device-width: 2000px){
    .search{
        max-width: 1700px;
    }
    .card-ingredients{
        width: 650px;
        height: 700px;
        margin: 50px;
    }
    .wrap{
        height: 100%;
        width: 100%;
    }
    .ingredient-list{
        max-height: 400px;
    }
    .logo h1{
        font-size: 4rem;
        margin: 40px 0;
    }
    .input{
        height: 90px;
        font-size: 2.6rem;
        min-width: 585px;
        position: relative;
        right: 15px;
        padding: 0 25px 0 65px;
    }
    .search-icon{
        font-size: 2.6rem;
    }
    .ingredient{
        height: 90px;
    }
    .ingredient h3{
        font-size: 2.7rem;
    }
    .search-button{
        font-size: 2.6rem;
        padding: 20px 35px;
    }
    .search p{
        font-size: 5.2rem;
        line-height: 8.5rem;
    }
    .arrow-icon{
        font-size: 15rem;
    }
}
